.wrapperModal {
  width: 375px;
  height: 812px;
  background-color: var(--main-green);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.expenseButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  border-radius: 30px;
  border: none;
  padding: 12px 0;
  width: 115px;
  height: 40px;
  background-color: #0c0d0d;
  font-family: "Suisse Intl", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--paper);
  &:hover {
    color: var(--grey-50);
    transition: var(--delay);
  }
  &:focus {
    color: var(--grey-50);
    transition: var(--delay);
  }
}

@media only screen and (min-width: 768px) {
  .expenseButton {
    padding: 12px 21px;
    width: 125px;
    height: 43px;
    font-size: 16px;
  }
}

.incomeButton {
  border: 1px solid rgba(12, 13, 13, 0.4);
  border-radius: 30px;
  padding: 12px 23px;
  width: 115px;
  height: 40px;
  background-color: var(--main-green);
  font-family: "Suisse Intl", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #0c0d0d;
  &:hover {
    background-color: var(--main-green-hover);
    transition: var(--delay);
  }
  &:focus {
    background-color: var(--main-green-hover);
    transition: var(--delay);
  }
}

@media only screen and (min-width: 768px) {
  .incomeButton {
    font-size: 16px;
    width: 125px;
    height: 43px;
  }
}

.buttonList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.closeButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 31px;
  right: 20px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background-color: var(--main-green);
}

@media only screen and (min-width: 768px) {
  .closeButton {
    width: 27px;
    height: 27px;
  }
}

.closeSvg {
  width: 20px;
  height: 20px;
  fill: #0c0d0d;
}

@media only screen and (min-width: 768px) {
  .closeSvg {
    width: 27px;
    height: 27px;
  }
}

.backDrop {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 100vh;
}
