.wrapperNavigate {
  width: 100%;
  display: none;
}

@media only screen and (min-width: 1440px) {
  .wrapperNavigate {
    display: block;
  }
}

.listNavigate {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}

.linkStyleNav {
  font-family: "Suisse Intl", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: var(--paper);
  border: 1px solid var(--grey-40);
  border-radius: 30px;
  padding: 12px 21px;
  width: 125px;
  height: 43px;
  &:hover {
    background-color: var(--main-green);
    color: #0c0d0d;
  }
  &:focus {
    background-color: var(--main-green);
    color: #0c0d0d;
  }
  &:active {
    background-color: var(--main-green);
    color: #0c0d0d;
  }
}
