.hero {
  padding-bottom: 40px;
}

.mobileForm {
  margin-bottom: 40px;
}
.desktopForm {
  display: none;
}

.contianer {
  padding-bottom: 40px;
}

@media (min-width: 1440px) {
  .contianer {
    display: flex;
    gap: 44px;
  }

  .mobileForm {
    display: none;
  }

  .desktopForm {
    display: flex;
    align-items: end;
  }
}
