.timeFieldIcon {
  position: absolute;
  top: 13px !important;
  right: 14px !important;

  width: 16px;
  height: 16px;

  /* cursor: pointer; */

  pointer-events: none;
  fill: white;
}
@media screen and (min-width: 768px) {
  .timeFieldIcon {
    top: 15.5px !important;
    right: 14px !important;
  }
}
