.navList {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .navList {
    margin-bottom: 36px;
  }
}
@media only screen and (min-width: 1280px) {
  .navList {
    margin-bottom: 166px;
  }
}
.navElem {
  border-radius: 40px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  width: 138px;
  height: 44px;
}
@media only screen and (min-width: 768px) {
  .navElem {
    font-size: 16px;
    width: 145px;
    height: 47px;
  }
}

.navLinkSignUp {
  width: 138px;
  border-radius: 40px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-green);
  color: #0c0d0d;
}
.navLinkSignUp:hover {
  background-color: var(--main-green-hover);
  transition: background-color var(--delay) var(--timing-function);
}
@media only screen and (min-width: 768px) {
  .navLinkSignUp {
    width: 145px;
    height: 47px;
  }
}

.navLinkSignIn {
  width: 138px;
  border-radius: 40px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--grey-40);
}
.navLinkSignIn:hover {
  border-color: rgba(14, 243, 135);
  transition: border-color var(--delay) var(--timing-function);
}
@media only screen and (min-width: 768px) {
  .navLinkSignIn {
    width: 145px;
    height: 47px;
  }
}
