.navList {
  display: flex;
  gap: 20px;
  padding-bottom: 40px;
}
.navElem {
  border-radius: 40px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  width: 138px;
  height: 44px;
}

.navLinkSignUp {
  width: 138px;
  border-radius: 40px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-green);
  color: #0c0d0d;
}

.navLinkSignIn {
  width: 138px;
  border-radius: 40px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--grey-40);
}
