.wrapperBurger {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 auto;
}

@media only screen and (min-width: 1440px) {
  .wrapperBurger {
    display: none;
    margin: 0 32px 0 auto;
  }
}

.buttonBurger {
  background-color: var(--background-main);
  border: none;
  padding: 0;
}

.svgBurger {
  stroke-width: 3px;
  width: 36px;
  height: 36px;
  stroke: var(--paper);
}

@media only screen and (min-width: 768px) {
  .svgBurger {
    width: 44px;
    height: 44px;
  }
}
