.wrapperBurger {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1440px) {
  .wrapperBurger {
    display: none;
  }
}

.buttonBurger {
  background-color: var(--background-main);
  border: none;
  padding: 0;
}

.svgBurger {
  stroke-width: 3px;
  stroke: var(--paper);
}
