.wrapperWelcomePage {
  padding-bottom: 40px;
  padding-top: 60px;
}
@media only screen and (min-width: 768px) {
  .wrapperWelcomePage {
    padding-top: 96px;
  }
}
.mainTitle {
  font-weight: 400;
  font-size: 32px;
  letter-spacing: -0.02em;
  color: var(--paper);
  margin-bottom: 14px;
}
@media only screen and (min-width: 768px) {
  .mainTitle {
    font-size: 56px;
    margin-bottom: 20px;
  }
}
.mainTitleSpan {
  text-decoration: underline;
  color: #0ef387;
}

.mainDescription {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--grey-40);
  margin-bottom: 30px;
}
@media only screen and (min-width: 768px) {
  .mainDescription {
    font-size: 16px;
    margin-bottom: 30px;
    width: 533px;
  }
}
.description {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--grey-40);
  text-transform: uppercase;
}
