/* Fonts */
@font-face {
  font-family: "SuisseIntl";
  src: local("SuisseIntlRegular"),
    url("/public/fonts/suisse-regular.ttf") format("truetype");
}
@font-face {
  font-family: "SuisseIntl";
  src: local("SuisseIntlBold"),
    url("/public/fonts/suisse-bold.ttf") format("truetype");
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Variables */
:root {
  --main-green: #0ef387;
  --main-green-hover: #0ebb69;

  --grey-20: rgba(250, 250, 250, 0.2);
  --grey-40: rgba(250, 250, 250, 0.4);
  --grey-50: rgba(250, 250, 250, 0.5);
  --grey-60: rgba(250, 250, 250, 0.6);

  --dark-grey: #29292b;

  --paper: #fafafa;

  --error: #e74a3b;

  --background-main: rgb(13, 13, 13);
  --background-secondary: rgb(23, 23, 25);
  --background-modal: rgb(24, 24, 25);
  --background-table-header: rgba(0, 0, 0, 0.2);

  /* transition */
  --delay: 350ms;
  --timing-function: ease;
}

body {
  margin: 0;
  font-family: Suisse Intl, sans-serif;
  background-color: var(--background-main);
  color: white;
}
.os-scrollbar-track {
  background-color: rgba(250, 250, 250, 0.2) !important;
}
.os-scrollbar-handle {
  background-color: rgba(250, 250, 250, 0.2) !important;
  height: 64px !important;
}
.os-scrollbar-horizontal {
  padding: 1px 15px 1px 21px;
}
.os-scrollbar-horizontal .os-scrollbar-handle {
  height: 8px !important;
}

#modal-window {
  width: 100%;
  position: fixed;
  top: 50%;
  margin: 0 auto;
  z-index: 997;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
